[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "forty"]
	path = forty
	url = https://github.com/MarcusVirg/forty
[submodule "themes/forty"]
	path = themes/forty
	url = https://github.com/MarcusVirg/forty
