<html lang="en-US">

    <head>
        {{ partial "head.html" . }}
    </head>

    <body>

        <div id="barba-wrapper">

            {{ partial "header.html" . }}

            <div id="home-content" class="barba-container background-color" data-namespace="page">

                <!-- SerenDPT Video -->
                <div class="intro">
                    <div class="intro-video">
                        <iframe class="no-pointer" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/cPL_98TpjUk?playlist=cPL_98TpjUk&amp;iv_load_policy=3&amp;enablejsapi=1&amp;disablekb=1&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;wmode=transparent&amp;origin=https%3A%2F%2Fserendpt.net&amp;widgetid=1" style="min-height: 100vh; min-width: 100vh;"></iframe>
                    </div>
                     <div class="intro-text">
                         <h1>We are H3</h1>
                         <h2>The third iteration of creators</h2>
                    </div>
                </div>

                <!-- Events Section -->
                <div id="events-section" class="section">
                    <h2>Upcoming Events</h2>
                    <!-- a single Bootstrap row for all cards -->
                    <div class="fade-container row card-group">
                        {{ range .Params.events }}
                            <!-- cards have an overlay on hover -->
                            <div class="overlay-container fade-card my-card col shift-card-mild">
                                <a href="events" onclick="updatePage(/events/)">
                                    <div class="overlay">
                                        <div class="text">
                                            <p>{{ .description }}</p>
                                        </div>
                                    </div>
                                    <div class="background">
                                        <img src="{{ .image }}" alt="Avatar" class="image">
                                        <h4>{{ .name }}</h4>
                                        <h6>{{ .date }}</h6>
                                    </div>
                                </a>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <!-- Spaces Section -->
                <div id="spaces-section" class="section">
                    <h2>Spaces</h2>
                    <!-- a single Bootstrap row for all cards -->
                    <div class="fade-container row card-group">
                        {{ range .Params.spaces }}
                            <!-- cards have an overlay on hover -->
                            <div class="overlay-container fade-card my-card col shift-card-mild">
                                <a href="events" onclick="updatePage(/events/)">
                                    <div class="overlay">
                                        <div class="text">
                                            <ul>
                                                {{ range .description }}
                                                    <li>{{ . }}</li>
                                                {{ end }}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="background">
                                        <img src="{{ .image }}" alt="" class="image">
                                        <h4>{{ .name }}</h4>
                                    </div>
                                </a>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <!-- Parallax linking to history -->
                <div class="parallax">
                    <div class="parallax-image">
                    </div>
                    <div class="parallax-text">
                        <h2>Our History</h2>
                        <p>Discover our journey from the beginning</p>
                        <a class="btn btn-light my-2 my-sm-0" href="history" role="button" onclick="updatePage(/history/)">Learn More</a>
                    </div>
                </div>

                <!-- SerenDPT Section -->
                <div class="section">
                    <h2>SerenDPT</h2>
                    <!-- a single Bootstrap row for all cards -->
                    <div id="goal-container" class="fade-container row card-group">
                        <div id="company-card" class="fade-card col shift-card-mild">
                            <a href="https://new.serendpt.net/startup/" target="_blank">
                                <div>
                                    <img class="icon" src="img/board-icon.png" alt="">
                                    <h3>10 Companies</h3>
                                </div>
                            <a>
                        </div>
                        <div id="job-card" class="fade-card col shift-card-mild">
                            <a href="https://new.serendpt.net/" target="_blank">
                                <div>
                                    <img class="icon" src="img/people-icon.png" alt="">
                                    <h3>100 Jobs</h3>
                                </div>
                            </a>
                        </div>
                        <div id="year-card" class="fade-card col shift-card-mild">
                            <a href="https://new.serendpt.net/" target="_blank">
                                <div>
                                    <img class="icon" src="img/timer-icon.png" alt="">
                                    <h3>5 Years</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            <!-- include the footer in the home content for barba reloads -->
            {{ partial "footer.html" . }}

            </div>

        </div>
    </body>

    {{ partial "scripts.html" . }}

</html>
