<html lang="en-US">

    <head>
        {{ partial "head.html" . }}
    </head>

    <body>

        {{ partial "header.html" . }}
        <div id="home-content" class="wrapper">
            <img id="carousel" src="img/H3 Office.png" alt="">
            <p>Welcome to H3</p>
            SerenDPT Mission<br>
            Upcoming Events<br>
            Blog<br>
            Spaces<br>
            Past Events<br>
            <a href="https://serendpt.net/"><img id="sdpt" src="img/SerenDPT-Tavola-disegno-3.svg" alt=""></a>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
        </div>
        {{ partial "footer.html" . }}

    </body>

    {{ partial "scripts.html" . }}

</html>
