#eventForm {
}
#eventForm * {
    /*font-family: "Playfair Display";
    font-family: "Courier New", monospace;
    font-family: 'Roboto', serif; font-weight: 300;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}
#eventForm h2 {
    padding-top: 30;
    font-size: 20;
    font-family: 'Roboto', serif;
    font-weight: 300;
}
#eventForm input[type=submit] {
    margin: 40;

    background-color: white;
    color: black;
}
#eventForm figure {
    display: table;
    width: 1px; /* This can be any width, so long as it's narrower than any image */
}
#eventForm img, figcaption {
    display: table-row;
    text-align: center;
}


.floorplan {
    height: 500px;
    width: auto;
}

.clock {
    height: 200px;
    width: auto;
}
