body, p, a {
    color: white;
    text-decoration: none;
    font-size: 18pt;
    font-family: "Playfair Display";
}

*:hover, a:hover {
    color: desaturate(darken(white, 25), 5);
    cursor: pointer;
}
