body, p, a, h1, h2 {
    color: _palette(fg);
    text-decoration: none;
    font-family: ('Source Sans Pro', Helvetica, sans-serif);
    font-size: 14pt;
    font-weight: 500;
    line-height: 1.2;
}
h1 {
    font-size: 48pt;
    letter-spacing: 0.1em;
}
h2 {
    font-size: 18pt;
    letter-spacing: 0.10em;
    padding-top: 0;
    padding-bottom: 20;
    font-weight: 400;
}

*:hover, a:hover{
    color: desaturate(darken( _palette(fg), 25), 5);
    cursor: pointer;
    text-decoration: none;
}

.nav-link {
    color: white;
    &:hover {
        color: desaturate(darken(white, 25), 5);
    }
}
