#eventForm {
}
#eventForm * {
    /*font-family: "Playfair Display";
    font-family: "Courier New", monospace;
    font-family: 'Roboto', serif; font-weight: 300;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}
#eventForm h2 {
    padding-top: 30;
    font-size: 20;
    font-family: 'Roboto', serif;
    font-weight: 300;
}
#eventForm input[type=submit] {
    margin: 40;

    background-color: white;
    color: black;
}
