body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

.wrapper {
    background-color: #242943;
    //padding-top: 50;
}
.background-color {
    background-color: #242943;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#page-title {
    text-align: center;
    font-size: 36pt;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}

.blur {
}

.row {
    display: flex;
}
.column {
    flex: 50%;
}

input[type=text] {
    border: 2px solid gray;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    padding: 5px 5px;
    margin: 5px 5px;
    box-sizing: border-box;
    &:focus {
        background-color: #1a1a1a;
    }
}

ul {
    list-style-type: none;
}

.no-space {
    padding: 0px;
}


#page-banner {
    height: 40%;
    overflow: hidden;

    #page-title {
        position: absolute;
        width: 30%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #page-image {
        width: 100%;
        height: auto;
        filter: brightness(50%);
    }
}
