#footer {
    margin: 0;
    padding: 40;
    background-color: #1a1a1a;
    width: 100%;
    font-family: ('Source Sans Pro', Helvetica, sans-serif);
    color: white;
    position: relative;
    z-index: 999;
    text-align: left;
    p {
        color: white;
        font-size: 14;
    }
    h5 {
        font-size: 18;
    }
    .right {
        float: right;
    }
    .sdpt {
        text-align: center;
        img {
            width: 200px;
            height: auto;
        }
    }
}
