.navbar {
    height: 60px;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.9); // 26 = #1a
    transition: 0.4s ease-in-out; // allows for smooth scrolling fade transitions

    img {
        height: 30px;
        margin: 10px;
    }
    .navbar-nav a {
        letter-spacing: 0.1em;
    }
    #login-btn, #admin-btn, .guest-access {
        display: none;
    }

    #login-btn:hover, #admin-btn:hover {
        color: _palette(highlight);
    }
    #admin-btn {
        color: black;
    }
}

// Scrolling up and down
.scrolled {
    opacity: 1;
}

.highlighted {
    font-weight: 600;
    color: _palette(highlight) !important;
}
