.navbar {
    height: 50px;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.9); // 26 = #1a
    letter-spacing: 0.1em;
    img {
        height: 30px;
        margin: 10px;
    }
    #login-btn, #logout-btn, #username, #documents-tab {
        display: none;
    }

    #username {
        color: _palette(highlight);
    }

    #logout-btn:hover {
        color: _palette(highlight);
    }
    #logout-btn {
        color: black;
    }
}
