#spaces-page {
    .shift-card {
        text-align: center;
    }
}

.event-row {
    color: green;
    img {
        width: 100px;
        height: auto;
    }
}

#eventForm {
    * {
    }
    p {
        font-weight: 300;
    }

    input[type=submit] {
        margin: 40;
        background-color: white;
        color: black;
    }

    figure {
        display: table;
        width: 1px; /* This can be any width, so long as it's narrower than any image */
    }

    #cost {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        bottom: 20;
        right: 20;
        padding: 20px;
    }
}
#eventForm img, figcaption {
    display: table-row;
    text-align: center;
}


.floorplan {
    height: 500px;
    width: auto;
}

.clock {
    height: 200px;
    width: auto;
}
