<header id="header" class="alt">
    <span>
        <a href="{{ .Site.BaseURL }}" class="logo"> <img src="{{ .Site.Params.baseURL }}/img/H3 Logo.png" alt="" /></a>
        <a href="#menu" id="menu">Menu</a>
    </span>
</header>

<nav id="menu">
    <ul class="links">
        {{ range .Site.Params.Navigation.links }}
            <li><a href="{{ .url | absURL}}">{{ .name }}</a></li>
        {{ end }}
    </ul>
    <ul class="actions vertical">
        {{ range .Site.Params.Navigation.button1 }}
            <li><a href="{{ .url | absURL}}" class="button special fit">{{ .name }}</a></li>
        {{ end }}
        {{ range .Site.Params.Navigation.button2 }}
            <li><a href="{{ .url | absURL}}" class="button fit">{{ .name }}</a></li>
        {{ end }}
    </ul>
</nav>
