{{ define "main" }}
    <h1 id="page-title">{{ .Title }}</h1>

    <div class="row company-pane">

        {{ range .Site.Params.companies }}
            <div class="col-sm company-col">
                <div id="flip" class="card bg-dark text-white company-logo">
                    <img class="company-logo card-img" src="{{ .logo }}" alt="Card image">
                    <div id="panel" class="card-img-overlay">
                        <h3 class="card-title">{{ .name }}</h3>
                        <p class="card-text">{{ .description }}</p>
                    </div>
                </div>
            </div>
        {{ end }}

    </div>

{{end}}
