{{ define "main" }}
    <div id="page-banner">
        <img id="page-image" src="../../../img/history/banner.jpeg" alt="">
        <h1 id="page-title">{{ .Title }}</h1>
    </div>
    <div class="content section">
        <div class="fade-container row">
            {{ range .Params.events }}
                <div class="fade-card col flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="card-image" src="{{ .image }}" alt="">
                            <h4>{{ .name }}</h4>
                            <h6>{{ .date }}</h6>
                        </div>
                        <div class="back">
                            <p>{{ .description }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
{{end}}
