{{ define "main" }}
    <div class="pad-top">
        <h1 class="title">{{ .Title }}</h1>
        <form id="eventForm" class="wide-content"> <!--method="post" action="mailto:pmaida1357@gmail.com"-->
            <div class="eventform-grid">

                <!-- The progress bar tabs walking the user through the form -->
                <div class="progress-cell">
                    <div class="tab-bar">
                        <a class="tablink active" onclick="openTab(event, 'Selection')">Venue Selection</a>
                        <a class="tablink" onclick="openTab(event, 'Details')">Event Details</a>
                        <a class="tablink" onclick="openTab(event, 'Amenities')">Amenities</a>
                        <a class="tablink" onclick="openTab(event, 'Contact')">Contact Info</a>
                        <a class="tablink" onclick="openTab(event, 'Review'); reviewApplication()">Review & Submit</a>
                    </div>
                </div>

                <!-- The content in each of the progress tabs -->
                <div class="content-cell">

                    <!-- Venue/Time selection tab content -->
                    <div id="Selection" class="tabcontent">
                        <div class="calendar-grid">
                            <div class="title-cell">
                                <h3>Venue and Time Selection</h3>
                            </div>
                            <div class="calendar-cell">
                                <div id="datepicker"></div>
                            </div>
                            <div id="available-venues" class="venues-cell">
                                <!--Dates for: <p id="date-chosen"></p>
                                {{ range .Site.Data.events }}
                                    <div class="venue-grid my-card">
                                        <div class="image-cell">
                                            <img class="card-image" src="{{ .image }}" alt="">
                                        </div>
                                        <div class="title-cell">
                                            {{ .name }}
                                        </div>
                                        <div class="description-cell">
                                            <ul class="event-description">
                                            {{ range .description }}
                                                <li>{{ . }}</li>
                                            {{ end }}
                                            </ul>
                                        </div>
                                        <div class="time-cell">
                                            {{ range .events }}
                                                {{ . }}
                                            {{ end }}
                                            Time1<br>
                                            Time2<br>
                                            Time3<br>
                                            Time4<br>
                                        </div>
                                    </div>
                                {{ end }}-->
                            </div>
                        </div>
                    </div>

                    <!-- Event details tab content -->
                    <div id="Details" class="tabcontent">
                        <h3>Event Details</h3>
                        <label>Title:</label><input type="text"><br>
                        <label>Type:</label>
                        <select>
                            <option>-</option>
                            <option>Seminar</option>
                            <option>Workshop</option>
                            <option>Lecture</option>
                            <option>Concert</option>
                            <option>Exhibit</option>
                            <option>Dj Set</option>
                            <option>Cocktail</option>
                            <option>Meeting</option>
                            <option>Empty Space</option>
                            <option>Other</option>
                        </select>
                        <br>
                        <label>Expected # of people:</label><input type="text" onkeypress="validateNumber(event)"><br>
                        <label>Description:</label><input type="text"><br>
                    </div>

                    <!-- Amenities selection tab content -->
                    <div id="Amenities" class="tabcontent">
                        <h3>Amenities</h3>
                        <ul>
                            <li> <input id="usherCbx" type="checkbox" onclick="updateReceiptCheckbox(this, 'Usher', '4', 'Amenities')"> <label for="usherCbx">Usher</label> </li>
                            <li> <input id="attendantCbx" type="checkbox" onclick="updateReceiptCheckbox(this, 'Room Attendant', '2', 'Amenities')"> <label for="attendantCbx">Room Attendant</label> </li>
                            <li> <input id="micCbx" type="checkbox" onclick="updateReceiptCheckbox(this, 'Mic', '1', 'Amenities')"> <label for="micCbx">Mic</label> </li>
                            <li> <input id="speakerCbx" type="checkbox" onclick="updateReceiptCheckbox(this, 'Speakers', '2', 'Amenities')"> <label for="speakerCbx">Speakers<label> </li>
                            <li> <input id="chairAmt" type="text" onkeypress="validateNumber(event)" onblur="updateReceiptAmount(this, 'Chairs', '0.5', 'Amenities')"> <label for="chairAmt">Chairs</label> </li>
                            <li> <input id="tableAmt" type="text" onkeypress="validateNumber(event)" onblur="updateReceiptAmount(this, 'Tables', '1', 'Amenities')"> <label for="tableAmt">Tables</label> </li>
                        </ul>
                    </div>

                    <!-- Contact info tab content -->
                    <div id="Contact" class="tabcontent">
                        <h3>Contact Info</h3>
                        <label>Company/Organizaiton:</label> <input type="text"><br>
                        <label>Full Name:</label> <input type="text"><br>
                        <label>Email:</label> <input type="text"><br>
                        <label>Cell Phone:</label> <input type="text"><br>
                    </div>

                    <!-- Review and Submit Request tab content -->
                    <div id="Review" class="tabcontent">
                        <h3>Review</h3>
                        <p>Date, Space, All costs asociated, contact, agree to conditions, submit</p>
                        <input type="submit" value="Submit Request">
                    </div>
                </div>

                <!-- The recipt on the right side of the screen -->
                <div class="receipt-cell">
                    <div id="receipt">
                        <h5 id="receipt-title">Event Name</h5>
                        <table id="receipt-table" style="width:100%">
                            <tr>
                                <th>Item</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Microphone</td>
                                <td>€10.00</td>
                            </tr>
                            <tr>
                                <td>Speakers (2)</td>
                                <td>€36.00</td>
                            </tr>
                        </table>
                        <h5 id="receipt-total">Total: €46.00</h5>
                    </div>
                </div>

            </div>
        </form>



    </div>
    <!--
        <div>
            <h2>Event</h2>
            <div class="row">
                <div class="column">
                    Is event within a series?
                    <br>
                    Yes<input type="radio" name="series">
                    No<input type="radio" name="series">
                    <br>
                    Will any VIP's be attending?
                    <br>
                    Yes<input type="radio" name="VIP">
                    No<input type="radio" name="VIP">
                    <br>
                    If so, list any special needs of the VIP(s)
                    <br>
                    <input type="text">
                </div>

                <div class="column">
                    Will non-SerenDPT guests attend?
                    <br>
                    Yes<input type="radio" name="guests">
                    No<input type="radio" name="guests">
                    <br>
                    If so, what portion of the guests will be external?
                    <br>
                    &lt50%<input type="radio" name="external">
                    &gt=50%<input type="radio" name="external">
                    <br>
                    Will any external speakers, performers, or artists attend the event?
                    <br>
                    Yes<input type="radio" name="culture">
                    No<input type="radio" name="culture">
                    <br>
                    If so, whom?
                    <br>
                    <input type="text">
                </div>
            </div>
        </div>

        <div>
            <h2>Location</h2>
            Preferred primary location: <input type="text">
            <br>
            Alternate location if primary is unavailable: <input type="text">
            <br>
            Alternate location if weather is non-permitting
            <br>
            Indoors<input type="radio" name="badWeather">
            Tent<input type="radio" name="badWeather">
            Alternate Date<input type="radio" name="badWeather">
            <br>
            Do you need additional spaces>
            Yes<input type="radio" name="additionalSpace">
            No<input type="radio" name="additionalSpace">
            <br>
            If so, please describe:
            <br>
            <input type="text">
        </div>

        <div>
            <h2>Catering</h2>
            Will food or beverage be served?
            <br>
            Yes<input type="radio" name="food">
            No<input type="radio" name="food">
            <br>
            If so, where will the food come from?
            <br>
            Food in-house <input type="text">
            <br>
            Caterer <input type="text">
            <br>
            Will alcohol be served at this event?
            <br>
            Yes<input type="radio" name="alcohol">
            No<input type="radio" name="alcohol">
            <br>
            What percentage of attendees will be over 18?
            <br>
            &lt50%<input type="radio" name="legal">
            &gt=50%<input type="radio" name="legal">
            100%<input type="radio" name="legal">
        </div>

        -->
{{end}}
