{{ define "main" }}
    <div class="pad-top">
        <h1 class="title">{{ .Title }}</h1>
        <form id="eventForm" class="wide-content"> <!--method="post" action="mailto:ve18.h3@gmail.com"-->
            <div class="eventform-grid">

                <!-- The progress bar tabs walking the user through the form -->
                <div class="progress-cell">
                    <div class="tab-bar">
                        <a class="tablink active" onclick="openTab(event, 'Selection')">Venue Selection</a>
                        <a class="tablink" onclick="openTab(event, 'Details')">Event Details</a>
                        <a class="tablink" onclick="openTab(event, 'Amenities')">Amenities</a>
                        <a class="tablink" onclick="openTab(event, 'Contact')">Contact Info</a>
                        <a class="tablink" onclick="openTab(event, 'Review'); reviewApplication()">Review & Submit</a>
                    </div>
                </div>

                <!-- The content in each of the progress tabs -->
                <div class="content-cell">

                    <!-- Venue/Time selection tab content -->
                    <div id="Selection" class="tabcontent">
                        <div class="calendar-grid">
                            <div class="title-cell">
                                <h3>Venue and Time Selection</h3>
                            </div>
                            <div class="calendar-cell">
                                <div id="datepicker"></div>
                            </div>
                            <div id="available-venues" class="venues-cell">
                                <!-- dynamically fill this with database query -->
                            </div>
                        </div>
                    </div>

                    <!-- Event details tab content -->
                    <div id="Details" class="tabcontent">
                        <h3>Event Details</h3>
                        <label for="eventTitle">Title:</label><input id="eventTitle" type="text"><br>
                        <label for="eventType">Type:</label>
                        <select id="eventType">
                            <option>-</option>
                            <option>Seminar</option>
                            <option>Workshop</option>
                            <option>Presentation</option>
                            <option>Lecture</option>
                            <option>Concert</option>
                            <option>Exhibit</option>
                            <option>Dj Set</option>
                            <option>Cocktail</option>
                            <option>Meeting</option>
                            <option>Empty Space</option>
                            <option>Other</option>
                        </select>
                        <br>
                        <label for="expPeople">Expected # of people:</label><input id="expPeople" type="text" onkeypress="validateNumber(event)"><br>
                        <label for="eventDescription">Description:</label><input id="eventDescription" type="text"><br>
                    </div>

                    <!-- Amenities tab content -->
                    <div id="Amenities" class="tabcontent">
                        <h3>Amenities</h3>
                        <ul>
                            <li> <input id="usherCbx" type="checkbox" onclick="updateReceiptCheckbox(this, 'Usher', '30', 'Amenities')"> <label for="usherCbx">Usher</label> </li>
                            <li> <input id="attendantCbx" type="checkbox" onclick="updateReceiptCheckbox(this, 'Room Attendant', '30', 'Amenities')"> <label for="attendantCbx">Room Attendant</label> </li>
                            <li> <input id="micCbx" type="checkbox" onclick="updateReceiptCheckbox(this, 'Mic', '12', 'Amenities')"> <label for="micCbx">Mic</label> </li>
                            <li> <input id="speakerCbx" type="checkbox" onclick="updateReceiptCheckbox(this, 'Speakers', '20', 'Amenities')"> <label for="speakerCbx">Speakers<label> </li>
                            <li> <input id="chairAmt" type="text" onkeypress="validateNumber(event)" onblur="updateReceiptAmount(this, 'Chairs', '0.5', 'Amenities')"> <label for="chairAmt">Chairs</label> </li>
                            <li> <input id="tableAmt" type="text" onkeypress="validateNumber(event)" onblur="updateReceiptAmount(this, 'Tables', '2', 'Amenities')"> <label for="tableAmt">Tables</label> </li>
                        </ul>
                    </div>

                    <!-- Contact info tab content -->
                    <div id="Contact" class="tabcontent">
                        <h3>Contact Info</h3>
                        <label for="contactCompany">Company/Organizaiton:</label> <input id="contactCompany" type="text"><br>
                        <label for="contactName">Full Name:</label> <input id="contactName" type="text"><br>
                        <label for="contactEmail">Email:</label> <input id="contactEmail" type="text"><br>
                        <label for="contactPhone">Cell Phone:</label> <input id="contactPhone" type="text"><br>
                    </div>

                    <!-- Review and Submit Request tab content -->
                    <div id="Review" class="tabcontent">
                        <!-- javascript adds elements here -->
                    </div>
                </div>

                <!-- The recipt on the right side of the screen -->
                <div class="receipt-cell">
                    <div id="receipt">
                        <h5 id="receipt-title">Receipt</h5>
                        <table id="receipt-table" style="width:100%">
                            <tr>
                                <th>Item</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Security Deposit</td>
                                <td>€20.00</td>
                            </tr>
                        </table>
                        <h5 id="receipt-total">Total: €20.00</h5>
                    </div>
                </div>

            </div>
        </form>

    </div>
{{end}}
