{{ define "main" }}
    <div id="art-gallery" class="pad-top">
        <h1 class="title">{{ .Title }}</h1>

        {{ range .Params.pictures }}
            <div class="gallery-grid">

                <div class="title-cell">
                    <h3>{{ .artist }}</h3>
                    <h4>{{ .name }}</h4>
                    <h5>{{ .location }}</h5>
                </div>

                <div class="art-cell">
                    <img src="/img/art/{{ .filename }}"  alt="">
                </div>

                <div class="church-cell">
                    {{ if (and (isset . "churchlocation")  (not (eq .churchlocation ""))) }}
                        <img class="church-location-image" src="/img/art-locations/{{ .churchlocation }}"  alt="">
                    {{ end }}
                </div>
                
            </div>
        {{ end }}
    </div>
{{end}}
