{{ define "main" }}
    <div id="page-banner">
        <img id="page-image" src="{{ .Params.banner }}" alt="">
        <h1 id="page-title">{{ .Title }}</h1>
    </div>


    <div id="history" class="content">

        <div id="links" class="row">
            {{ range .Params.links }}
                <div class="col">
                    <img class="image-preview" src="{{ .image }}" alt="">
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{{ .url }}">{{ .title }}</a>
                </div>
            {{ end }}
        </div>


        {{ range .Params.sections }}
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <img src="{{ .image }}" alt="" align="right">
                    </div>
                    <div class="p-2">
                        <h2>{{ .header }}</h2>

                        {{ range .paragraphs }}
                            <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
        {{ end }}


    </div>
{{end}}
