{{ define "main" }}
    <div id="page-banner">
        <img id="page-image" src="{{ .Params.banner }}" alt="">
        <h1 id="page-title">{{ .Title }}</h1>
    </div>


    <div id="history" >

        {{ range .Params.slides }}
            <div class="history-grid">
                <div class="title-cell">
                    {{ .title }}
                </div>
                <div class="text-cell">
                    {{ range .paragraphs }}
                    <p>{{ . }}</p>
                    {{ end }}
                    {{ range .buttons }}
                        <a class="btn btn-light my-2 my-sm-0" href="{{ .url }}">{{ .text }}</a>
                    {{ end }}
                </div>
                <div class="pic1-cell square-cell">
                    <img class="square-image" src="{{ index .images 0 }}" alt="">
                </div>
                <div class="pic2-cell square-cell">
                    <img class="square-image" src="{{ index .images 1 }}" alt="">
                </div>
                <div class="pic3-cell square-cell">
                    <img class="square-image" src="{{ index .images 2 }}" alt="">
                </div>
                <div class="pic4-cell square-cell">
                    <img class="square-image" src="{{ index .images 3 }}" alt="">
                </div>
            </div>
        {{ end }}


    </div>
{{end}}
