{{ define "main" }}
    <div class="pad-top">
        <h1 class="title">Register</h1>
        <div id="register-pane" class="content">
            <label>First Name:</label> <input id="register-first" type="text" placeholder="First Name"> <br>
            <label>Last Name:</label> <input id="register-last" type="text" placeholder="Last Name"> <br>
            <label>Email:</label> <input id="register-email" type="email" placeholder="Email"> <br>
            <label>Password:</label> <input id="register-password" type="password" placeholder="Password"> <br>
            <input class="btn btn-light my-2 my-sm-0" type="submit" role="button" onclick="register()"> <br>
        </div>
    </div>
{{end}}
