{{ define "main" }}
    <div id="spaces-page" class="pad-top">
        <h1 class="title">{{ .Title }}</h1>
        <div class="content">
            <div class="section">

                <div class="fade-container row">
                    {{ range .Params.spaces }}
                        <div class="shift-card fade-card col">
                            <img class="card-image" src="{{ .image }}" alt="">
                            <h4>{{ .name }}</h4>
                        </div>
                    {{ end }}

                </div>
            </div>

            <div class="center">
                <a class="btn btn-light btn-large my-2 my-sm-0" href="../eventform" role="button">Apply Here</a>
            </div>
        </div>
    </div>
{{end}}
