.block-grid {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 20px;
    background-color: _palette(bg-alt);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    display: grid;
    grid-template-columns: 30% 30px auto 30px; //30px border around content
    grid-template-rows: 30px 100px 50px auto 30px;
    grid-template-areas:
        "img . . ."
        "img . title ."
        "img . date ."
        "img . description ."
        "img . . .";
    .img-cell {
        grid-area: img;
    }
    .title-cell {
        grid-area: title;
        font-size: 22pt;
    }
    .date-cell {
        grid-area: date;
        font-size: 18pt;
    }
    .description-cell {
        grid-area: description;
    }
}
