.btn-light{
    border-color: white;
    background-color: white;
    color: black;
    font-size: 18;
    padding-top: 1px;
    padding-bottom: 0px;
    height: 33px;
    position: relative;
    top: 3px;
    //box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);

    &:hover{
        background-color: transparent;
        color: white;
    }
}
