.navbar {
    height: 60px;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.9); // 26 = #1a

    img {
        height: 30px;
        margin: 10px;
    }
    .navbar-nav a {
        letter-spacing: 0.1em;
    }
    #login-btn, #logout-btn, #username, #documents-tab {
        display: none;
    }

    #username {
        color: _palette(highlight);
    }

    #logout-btn:hover {
        color: _palette(highlight);
    }
    #logout-btn {
        color: black;
    }
}

.scrolled::before{
    content:"";
    opacity:1;
    transition:0.3s ease-in-out;
}
