#header {
    margin: 0;
    padding: 0;
    background-color: red;
    height: 50px;

    img {
        height: 30px;
        margin: 10px;
    }

    #menu {
        float: right;
        &:after {
            content: '\f0c9';
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            margin:0px 0px 0px 10px;
            text-decoration:none;
        }
        &:hover {
            color: green;
        }
    }
}
