#history {
    margin: 30px;


    p {
        font-size: 14pt;
        line-height: 1.4;
    }
    h2 {
        font-size: 18pt;
    }
    h3 {
        font-size: 16pt;
    }
    img {
        padding: 20px;
    }
    #links {
        text-align: center;
        a {
            font-size: 14pt;
            line-height: 1.5;
        }
    }

    .image-preview {
        border-radius: 50%;
        height: 250px;
        width: 250px;
    }

}
