#history {
    margin: 30px;

    color: green;
    p {
        font-size: 20;
        line-height: 1.4;
    }
    h2 {
        padding-top: 40;
        padding-bottom: 20;
    }
    img {
        padding: 50px;
        margin: 50px;
    }
    #links a {
        font-size: 20pt;
    }
}
