#header .logo {
    border: 0;
    display: inline-block;
    font-size: 0.8em;
    height: inherit;
    line-height: inherit;
    padding: 0 1.5em;
}

    #header .logo strong {
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        background-color: #ffffff;
        color: #242943;
        display: inline-block;
        line-height: 1.65em;
        margin-right: 0.325em;
        padding: 0 0.125em 0 0.375em;
    }

    #header .logo:hover strong {
        background-color: #9bf1ff;
    }

    #header .logo:active strong {
        background-color: #53e3fb;
    }
