#spaces-page {
    .shift-card {
        text-align: center;
    }
    .my-card {
         min-width: 250px;
         max-width: 350px;
    }
}

.event-row {
    color: green;
    img {
        width: 100px;
        height: auto;
    }
}
